<%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
    <section class="mt-52">
        <h1 class="text-center">
            This is the main page of the site
        </h1>
    </section>

<%- include('partials/end') %>